html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
}

header {
	position: relative;
	color: #ffffff;
	overflow: hidden;
	background-color: #e7001d;
	font-size: .5em;
	text-align: center;
	padding: 1em;
}

header img {
	width: 100px;
	position: absolute;
	left: calc(50% - 50px);
	top: 22px;
	z-index: 0;
}

h1{
	position: relative;
	text-shadow: 0px 2px 4px #000000;
}

.h1-char{
	font-size: 3.5em;
	text-shadow: 0px 2px 4px #000000;
}

nav{
	color: #ffffff;
	background-color: #222222;
	overflow: hidden;
	padding: 0;
	font-weight: 700;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

ol{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav a{
	text-decoration: none;
	color: #ffffff;
	width: 100%;
	
}

a:hover{
	color: #e4c22a;
}

nav li{
	font-weight: 400;
	width: 50%;
	float: left;
	padding: 1em;
	border-top: 1px solid black;
	border-left: 1px solid black;
}

figure{
	padding: 0;
	margin: 0;
	position: relative;
}

figcaption{
	font-style: italic;
	font-weight: 400;
	position: absolute;
	text-align: center;
	top: 67%;
	font-size: 2em;
	color: #ffffff;
	width: 100%;	
	text-shadow: 0px 2px 4px #000000;
}

img{
	width: 100%;
}

h2{
	margin-top: 0;
	font-weight: 700;
	text-align: center;
	padding-top: 1em;
}

p{
	margin-bottom: 0;
	padding: 0em 1em 1.5em .5em;
	line-height: 1.5;
}

div p{
	font-weight: 400;
	font-style: italic;
	text-align: center;
	padding-bottom: 1.5em;
}

div img{
	padding: 1em;
}


.div-dragon{
	background-color: #e4c22a;
}

.div-dragon img{
	width: 50%;
	float: left;
}

.div-goat {
	color: #ffffff;
	background-color: #222222;
}

.div-goat img{
	width: 50%;
	float: left;
}

.div-rooster{
	color: #ffffff;
	background-color: #bc0317;
}

.div-rooster img{
	width: 50%;
	float: left;
}

.div-ox{
	background-color: #e4c22a;
}

.div-ox img{
	width: 50%;
	float: left;
}

aside {
	text-align: center;
	color: #ffffff;
	background-color: #222222;
	padding: 2em;
	font-size: .8em;
}

aside a{
	text-decoration: underline;
	color: #ffffff
}

	